body{
    margin: 0;
}
main{
  padding: 16px;
}
footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: aquamarine;
}
img{
    height: 200px;
}
nav{
    border-bottom: 1px black;
    padding: 16px;
    background-color: brown;
    font-size: xx-large;
    font-weight: bold;
}
div{
    display: inline-table;
    gap: 100px;
}
